<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= format_brazil(article.publication_date) %>
  </p>

<% if article.edit_date.present? %>
  <p>
    <strong>Edit date:</strong>
    <%= format_brazil(article.edit_date) %>
  </p>
<% end %>

  <p>
    <strong>Body:</strong>
    <%= truncate(article.body, length: 150) %>
  </p>



</div>
